{% extends "base.html" %}

{% block title %}
    Login to YoloPunch
{% endblock title %}

{% block ng-app %}Auth{% endblock %}

{% block content %}
  {{ form.non_field_errors }}
  <div class="row">
    <form class="col s12 m6 card" action="{% url 'login' %}" method="POST" >
      <div class="card-content">
        <div class="card-title black-text">
          <h4>Sign in</h4>
        </div>
        {% csrf_token %}
        <div class="row">
          <div input-field class="col s12">
            <input id="id_username" type="text" name="username"
              value="{{ form.username.value |default_if_none:"" }}">
            <label for="id_username">Username</label>
          </div>
          {{ form.username.errors }}
        </div>
        <div class="row">
          <div input-field class="col s12">
            <input id="id_password" type="password" name="password">
            <label for="password">Password</label>
          </div>
          {{ form.password.errors }}
        </div>
        <div class="row">
          <div class="col s12">
            <button class="btn waves-effect waves-light" type="submit" name="action">
              Sign in
              <i class="mdi-content-send right"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <p>Not a member? <a href="{% url 'registration_register' %}">Sign up</a>!</p>
{% endblock content %}
