{% extends "base.html" %}

{% block title %}
    Register
{% endblock title %}

{% block ng-app %}Auth{% endblock %}

{% block content %}

<h1>Ready for challenges?</h1>
<div class="row" ng-controller="RegisterController as loginCtrl">
  <div class="col m12 l8 card auth-card">
    <div class="card-content">
      <div class="card-title black-text">
        <h3>Sign up!</h3>
      </div>
      <form class="authForm" action="{% url 'registration_register' %}" method="POST" novalidate>
        {% csrf_token %}
        <div class="row">
          <div input-field class="col s12 m6">
            <input id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
          </div>
          <div input-field class="col s12 m6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div input-field class="col s12">
            <input id="username" type="text" class="validate">
            <label for="username">Username</label>
          </div>
        </div>
        <div class="row">
          <div input-field class="col s12">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div input-field class="col s12">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <input type="checkbox" class="filled-in" id="terms_and_conditions">
            <label for="terms_and_conditions">
              I agree to <a href="#">Terms and Conditions</a>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
              <i class="mdi-content-send right"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>


{% endblock content %}
